article {
  width: 371px;
  height: 372px;
  position: relative;
}

.top {
  position: absolute;
  height: 186px;
  width: 100%; 
  overflow: hidden;
  transition: all 1s ease;
  top: 0;
}

.clickedLemon .top {
  background: #8cffba;
}

.clickedRocket .top {
  background: #a6cfe2;
}

.bottom {
  position: absolute;
  height: 186px;
  width: 100%; 
  overflow: hidden;
  transition: all 1s ease;
  bottom: 0;
}

.clickedLemon .bottom {
  background: #cfffe2;
}

.clickedRocket .bottom {
  background: #c2dce9;
}

.bottom:hover {
  height: 372px;
}

.top:hover {
  height: 372px;
  z-index: 1;
}

.top:hover + .bottom{
  height: 0;
  z-index: 0;
}

.clickedHeading {
  position: absolute;
  height: 70px;
  left: 78px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  display: flex;
  align-items: center;
}

.clickedLemon .clickedHeading {
  color: #166f39;
}

.clickedRocket .clickedHeading {
  color: #0b0c11;
}

.clickedEmoji {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 48px;
  left: 141px;
  font-size: 90px;
  line-height: 105px;
}